body {
    background-color: #007aff;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007aff;
    flex-grow: 1;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    align-items: center;
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success {
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
}

.bg-failure {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.finished-headline {
    font-size: 38px;
}

.button-row {
    display:flex;
    justify-content: center;
    margin-top: 24px;
}